body{
    background-color: #C0AA7D;
    margin: 0px;
    opacity: 100%;
}
}
ul{
     margin-block-start: 6px;
     margin-block-end: 2px;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     padding-inline-start: 0px;
}
li {
    font-size: 20px;
    list-style: none;
}
#container{
    margin: 0px;
}
#header{
    background-color: wheat;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    box-shadow: 1px 3px 8px #4C4847;
}

#nav{
    background-color: grey;
    padding-top: 3px;
    padding-bottom: 10px;
    text-align: center;
    list-style-type: none;
    background-color: grey;

}
.nav-box {
  background-color: grey;
  padding: 1px;
  margin: 0;
  border: dotted wheat 1px;
  padding: 6px 12px;
  text-decoration: none;
  width: auto;
  float: left;
  display: block;
  list-style-type: none;
  text-align: center;
  color: white;
}
#active{
  float: right;
  background-color: #9E834A;
  margin-right: 10px;
  font-size: 20px;
}
.nav-box:hover {
  background-color: wheat;
  border: dotted 1px black;
}
.main {
    opacity: 100%;
    text-align: center;
    background-image: url("IMG/Background.jpg");
    font-family: cursive;
    margin-bottom: 10px;
}
.Page-title {
}
#tekst{
    background-color: white;
    color: black;
    width: 60%;
    position: static;
    margin: auto;
    height: auto;
    border: dotted 2px black;
    font-family: cursive;
    box-shadow: 2px 2px 2px grey;

}
#imgRoom{
  float: center;
  margin-top: 20px;
  min-width: 160px;
  max-width: 800px;
  min-height: 100px;
  max-height: 500px;
  border: solid 1px black;
  box-shadow: 3px 3px 2px grey;

}
#footer{
    clear: both;
    padding: 10px;
    background-color: grey;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 1px 3px 8px #4C4847;
}

.patat{
    margin: 0px;
}

#main{
    width: 1000px;
    text-align: center ;
    margin: auto;
}
/* elementen voorpagina */

.showSlide {
    display: none
}

.showSlide img {
        width: 100%;
}

.slidercontainer {
    max-width: 1000px;
    position: relative;
    margin-top: 20px;
    margin: auto;
}
.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.left {
    left: 0;
    border-radius: 3px 0 0 3px;
    color: black;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
    color: black;
}

.left:hover, .right:hover {
   background-color: rgba(115, 115, 115, 0.8);
}

.content {
    color: black;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #717171;
}

.appelflap{
height: 320px;
width: 480px;
border-style: double;
float: left;
padding: 5px;
background-color: white;
}

.bananensoes{
height: 320px;
border-style: double;
float: right;
width: 480px;
padding: 5px;
background-color: white;
}

.berliner-bol{
height: 320px;
border-style: double;
float: left;
width: 480px;
padding: 5px;
background-color: white;
}

.brownie{
height: 320px;
border-style: double;
float: right;
width: 480px;
padding: 5px;
background-color: white;
}

.croissant{
height: 320px;
border-style: double;
float: left;
width: 480px;
padding: 5px;
background-color: white;
}

.donut{
height: 320px;
border-style: double;
float: right;
width: 480px;
padding: 5px;
background-color: white;
}

.macaron{
height: 320px;
border-style: double;
float: right;
width: 480px;
padding: 5px;
background-color: white;
}

.moorkop{
height: 320px;
border-style: double;
float: right;
width: 480px;
padding: 5px;
background-color: white;
}

.tampouce{
height: 320px;
border-style: double;
float: left;
width: 480px;
padding: 5px;
background-color: white;
}

.tiramisu{
height: 320px;
border-style: double;
float: left;
width: 480px;
padding: 5px;
background-color: white;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* slideshow voorpagina */
